@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyTest.Objects.BlogPost>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/new/" method="post">
        <table>
            <tr>
                <td>Id:</td>
                <td><input type="text" name="Id" value="@Model.Id" /></td>
            </tr>
            <tr>
                <td>Title:</td>
                <td><input type="text" name="Title" value="@Model.Title" /></td>
            </tr>
            <tr>
                <td>Content:</td>
                <td><input type="text" name="Content" value="@Model.Content" /></td>
            </tr>
            <tr>
                <td>Tags:</td>
                <td><input type="text" name="Tags" value="@string.Join(",", Model.Tags)" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Add new" /></td>
            </tr>
        </table>
    </form>
</body>
</html>
